/* ----------------------------------------------------------------- Generics */
body {
  padding : 10px;
}

/* Table Layout */
.asTable {
  display: table;
}

.asTable > *, .asRow {
  display: table-row;
}

.asTable > * > *, .asRow > *, .asCell {
  display: table-cell;
  vertical-align: top;
}

/* Botón */
.button {
    display : inline-block;
    /*width: 30px;*/
    margin: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.bigButton {
    display : inline-block;
    width: 70px;
    height: 40px;
    margin: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.bClose {
  position: absolute;
  top:5px;
  right: 5px;
  border: 3px solid white;
  background-color: black;
  color: red;
  font-weight: bold;
}

.bClose:after {
  content:"X";
}

/* Header en una tabla */
.tHeader {
  background-color: #E9E1E1;
}

.box {
  border:1px solid black;
}

.activo {
    background-color: red;
}

.oculto {
    display : none;    
}

/**
 * Some elements are shown/hidden depending on the mode / action.
 * - mode : advanced/basic. It's a toggle, so a CSS class is used : modeAdvanced
 * - action : paint/play/move. We use the data-action attribute
 */
/* Those elments are hidden by default */
.showWhenPaint,
.showWhenPlay,
.showWhenMove 
{
  display: none !important;
}

/* If the action is the corresponding, show the element */
body[data-action="paint"] .showWhenPaint,
body[data-action="play"]  .showWhenPlay,
body[data-action="move"]  .showWhenMove
{
  display: inherit !important;
}

/**
 * All elements marked as 'advancedOnly' are only shown in the advanced mode 
 * NOTE : here, after the data-action rules to higher priority
 */
body:not(.modeAdvanced) .advancedOnly,
body.modeAdvanced       .basicOnly {
  display: none  !important;
}

/* Debug */
body[data-action='paint'] .printAction:after {
  content:"paint";
}
body[data-action='play'] .printAction:after {
  content:"play";
}
body[data-action='move'] .printAction:after {
  content:"move";
}

/* ------------------------------------------------------------- Render Photo */
#renderCanvas {
  display:none;
}

/* ----------------------------------------------------------------- Commands */
#comandos {
  padding-left: 10px;
}

/* ==================
Temporales ¿?
=================== */   
/* Titulares  (temporal) */
#titLienzo{
    width: 895px;
    display:inline-block;
    /*font-weight: bold;*/
} 

#titVisor {
    width: 800px;
    display:inline-block;
    /*font-weight: bold;*/
} 


/* La parte principal de la pantalla, donde va el panel de diseño, de run, steps.... */
/*
#mainPanels {
  position: relative;
  width: 960px;
}
*/

/* ==================
Lienzo
=================== */   
#lienzo, #lienzoSVGWrapper {
	border:1px solid black;
}

#log {
	height: 40px;
	color:green;
}

#lienzoSVG {
    height: 480px;
    width: 800px;
    display:inline-block;
}

/* ==================
Visor
=================== */   
#visorMovie {
  height: 480px;
  width: 800px;
	display:none;
	border:5px dashed red;
}

#visorMovie {
  display:inline-block;
}

/* ==================
ToolBox
=================== */   
#paintBox {
    vertical-align: top;
    width:100%;
    border:1px solid black;
    display:none; /* Hide initial */
    position:fixed;
    bottom:0px;
    left: 0px;  
    background-color: gray;
    z-index: 10;
    font-size: 140%;
    line-height:200%
}

/* Make the slider wider */
#modeSelectorWrapper .ui-slider-switch {
  width:100%;
}

.toolActiva {
}

.toolInactiva {
    background-color: grey; 
}

#paintBox > * {
  display:inline-block;
  vertical-align: top;
}

#paintBox > * table {
  display:inline-block;
  vertical-align: top;
}

/* Choose line/filler */
.toolWidgetLineaRelleno > span {
  display: inline-block;
  margin: 5px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.toolWidgetLineaRelleno > span.selected {
  width: 40px;
  height: 40px;
}

/* Lines (fill none) */
.cbLineWhite {
  border-top: 5px solid white;
}

.cbLineBlack {
  border-top: 5px solid black;
}

.cbLineRed {
  border-top: 5px solid red;
}

.cbLineWhite, .cbLineBlack, .cbLineRed {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  margin-top:-10px !important;
}

/* Border white */
.cbWhiteBlack {
  border: 5px solid white; 
  background-color: black; 
}

.cbWhiteRed {
  border: 5px solid white; 
  background-color: red; 
}

.cbWhiteWhite {
  border: 5px solid white; 
  background-color: white; 
}

/* Border red */
.cbRedWhite {
  border: 5px solid red; 
  background-color: white; 
  
}

.cbRedBlack  {
  border: 5px solid red; 
  background-color: black; 
}

.cbRedRed  {
  border: 5px solid red; 
  background-color: red; 
  
}

/* Border black (no border) */
.cbBlackWhite {
  border: 5px solid black; 
  background-color: white; 
  
}

.cbBlackRed {
  border: 5px solid black; 
  background-color: red; 
  
}

.cbBlackBlack {
  border: 5px solid black; 
  background-color: black; 
  
}

/* ==================
Logger
=================== */   
#pLogger {
  position : fixed;
  bottom:0px;
  width:100%;
  height:100px;
  overflow: scroll;
  display:block;
}

/* ======================== */
/* Step                     */
/* ======================== */
/* Id de los steps en la lista de steps */
#pStepsIndexContainer {
  display:block;
  width: 800px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

#pStepsIndex {
  display:block;
  width: 80000px;
}

#pStepsIndex a {
    display : inline-block;
    width: 30px;
    margin: 5px;
    border: 1px solid black;
}
/* Elementos clicables */
#pStepsContent span:hover, #pStepsIndex a:hover {
    cursor: pointer;
}

/* Panel donde ponemos los fotogramas de ese step */
.pFotogramas {
	display: inline-block;
}

/** Inicio de un step */
#pStepsContent span.startStep {
	border: none;
	width: 60px;
	background-color: grey;
}

/* Caja de fotograma */
.boxFotograma {
    display:inline-block;
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
}

.fotogramaId, .codigoTiempo {
    display: block; 
}

.fotogramaId {
    text-align: center;	
}

/** Status del fotograma */
.fotogramaDisabled {
	background-color: black;
	color:white;
}

.fotogramaActivo {
	background-color: red;
}


